@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:wght@400;700&family=Poppins:wght@200;300&display=swap");

:root {
	--accent: #ff9f00;
	--color1: #ff9f00;
	--color2: #ffffff;
	--border: #172337;
	--bg-btn: #232c3b;
}
a {
	text-decoration: none;
	color: none;
}
body {
	overflow-x: hidden;
}
.navbar {
	background-color: white;
	/* margin-bottom: 50px; */
}

.logo {
	font-family: "Fraunces";
	font-size: 1.4rem;
	font-weight: 300;
	color: rgb(55, 55, 55);
	letter-spacing: 4px;
	text-decoration: none;
}
#a1 {
	font-size: 2rem;
	font-weight: 900;
	color: var(--accent);
}
.welcome {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 50px;
	height: calc(100vh - 90px);
	width: 100%;
	margin: 0 auto;
	padding: 0 100px;
}
.info {
	width: 100%;
}
.welcome-img {
	object-position: center;
	object-fit: cover;
	width: 50%;
}

.inner {
	width: 100%;
}

.inner h1 {
	font-size: 45px;
	color: var(--color1);
	text-shadow: 1px 1px 1px;
}

.inner p {
	width: 100%;
	font-weight: 600;
	margin: 10px 0;
}

.inner span {
	color: var(--color1);
}

.inner button {
	padding: 10px 25px;
	border: 1px solid var(--border);
	background: var(--color1);
	font-size: 16px;
	border-radius: 50px;
	font-weight: 600;
	margin-top: 5px;
}

@media screen and (max-width: 985px) {
	.welcome {
		flex-direction: column-reverse;
		margin-bottom: 50px;
	}
	.info {
		text-align: center;
	}
	.welcome-img {
		width: 80%;
	}
}
