@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:wght@400;700&family=Poppins:wght@200;300&display=swap");

:root {
	--accent: #ff9f00;
	--color1: #ff9f00;
	--color2: #ffffff;
	--border: #172337;
	--bg-btn: #232c3b;
}
a {
	text-decoration: none;
	color: none;
}
.main {
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.navbar {
	background-color: white;
	/* margin-bottom: 50px; */
}

.logo {
	font-family: "Fraunces";
	font-size: 1.4rem;
	font-weight: 300;
	color: rgb(55, 55, 55);
	letter-spacing: 4px;
	text-decoration: none;
}
#a1 {
	font-size: 2rem;
	font-weight: 900;
	color: var(--accent);
}
.welcome {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 50px;
	height: calc(100vh - 90px);
	width: 100%;
	margin: 0 auto;
	padding: 0 100px;
}
.info {
	width: 100%;
}
.welcome-img {
	object-position: center;
	object-fit: cover;
	width: 50%;
}
.welcome-nav {
	font-family: "Fraunces";
	font-size: 1.2rem;
	background-color: var(--accent);
	padding: 10px;
	border-radius: 20px;
	color: #ffffff;
}

.inner {
	width: 100%;
}

.inner h1 {
	font-size: 45px;
	color: var(--color1);
	text-shadow: 1px 1px 1px;
}

.inner p {
	width: 100%;
	font-weight: 600;
	margin: 10px 0;
}

.inner span {
	color: var(--color1);
}

.inner button {
	padding: 10px 25px;
	border: 1px solid var(--border);
	background: var(--color1);
	font-size: 16px;
	border-radius: 50px;
	font-weight: 600;
	margin-top: 5px;
}
.gallery {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* max-width: 1080px; */
	margin: 50px auto;
}

/* CARD */

.card {
	transition: 0.3s;
	max-width: 500px;
	margin: 0 auto;
}
/* .card:hover {
	transform: scale(1.02);
} */
.card-link {
	color: #172337;
}
.card-img-top {
	width: 100%;
	height: 30vh;
	object-fit: cover;
}
.card-text {
	border: 1px dashed rgba(0, 0, 0, 0.24);
	border-radius: 5px;
	padding: 10px;
	height: 200px;
	overflow-y: scroll;
}
.order-btn {
	margin-top: 10px;
}
.btn-info {
	background-color: #ff9f00;
	border: none;
}
.btn-info:hover {
	background-color: #172337;
	color: aliceblue;
}
.name-link {
	color: #ff9f00;
	border-radius: 5px;
	text-align: center;
	transition: 0.2s;
}
.name-link:hover {
	background-color: #172337cd;
}
.d-flex {
	margin-bottom: 8px;
}
/* .logout-btn { */
/* margin-left: 8px; */
/* } */
.custom-btn {
	background-color: var(--accent);
	margin-bottom: 8px;
	margin-left: 5px;
}

@media screen and (max-width: 985px) {
	.welcome {
		flex-direction: column-reverse;
		height: 100%;
		margin-bottom: 50px;
		padding: 10px;
	}
	.info {
		text-align: center;
	}
	.welcome-img {
		width: 80%;
	}
}
